---
// biome-ignore lint/correctness/noUnusedVariables: Biome needs support for Astro's `props` object.
interface Props {
	repository: string;
}
// biome-ignore lint/correctness/noUnusedVariables: Biome needs support for Astro.
const { repository } = Astro.props;
---

<div class="hidden sm:block">
	<a
		class="github-button"
		href={`https://github.com/${repository}`}
		data-color-scheme="no-preference: light; light: light; dark: dark;"
		data-icon="octicon-star"
		data-size="large"
		data-show-count="true"
		aria-label={`Star ${repository} on GitHub`}
	>
		Star
	</a>
</div>

<script is:inline async defer src="https://buttons.github.io/buttons.js"></script>
