<a href="/" class="flex">
	<img src="/favicon.svg" class="mr-3 h-8" alt="Lyra Logo" />
	<span class="self-center whitespace-nowrap text-2xl font-semibold uppercase dark:text-white">
		Lyra
	</span>
</a>
