---
import ConfettiLauncher from '../atoms/ConfettiLauncher.astro';
const {
	id,
	placeholder = 'Enter your email',
	buttonText = 'subscribe',
	buttonColor = '#374151',
	buttonTextColor = '#F3F4F6',
	...attributes
} = Astro.props;
const { class: className = 'w-full max-w-md space-y-2 flex flex-col items-center justify-center' } =
	attributes;
const identifier = id || crypto.randomUUID();
---

<div class:list=`${className}`>
	<form class="relative flex w-full space-x-2" id={`subscriber-form-${identifier}`}>
		<div class="relative w-full">
			<label for="subscriber-email" class="hidden">Email:</label>
			<input
				id="subscriber-email"
				class="subscriber-email bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium"
				type="email"
				placeholder={placeholder}
				{...attributes}
				required
			/>
			<ConfettiLauncher>
				<button
					class:list={[
						'absolute bottom-0 end-0 top-0 rounded-r px-5 py-2.5 text-center font-sans font-semibold uppercase',
						'submit-button',
					]}
					type="submit"
				>
					{buttonText}
				</button>
			</ConfettiLauncher>
		</div>
	</form>
</div>

<style define:vars={{ buttonColor, buttonTextColor }}>
	.subscriber-email {
		@apply flex h-12 w-full items-center justify-center px-3
    focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
		border-radius: 0.375rem;
		border: solid var(--buttonColor);
	}

	.submit-button {
		border-radius: 0 0.375rem 0.375rem 0;
		background-color: var(--buttonColor);
		color: var(--buttonTextColor);
		border: solid var(--buttonColor);
	}

	.submit-button:hover {
		filter: brightness(0.9);
	}
</style>
