---
import { Icon } from 'astro-icon/components';
import type { BreadcrumbItem } from './types';

interface Props {
  items: BreadcrumbItem[];
}

const { items } = Astro.props;
---

<nav class="mb-5 flex" aria-label="Breadcrumb">
	<ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
		{
			items.map((item, index) => (
				<>
					{index !== 0 && (
						<Icon name="ph:caret-right" class="h-5 w-5 text-gray-700 dark:text-gray-300" />
					)}
					<li class="inline-flex items-center">
						<a
							href={item.href}
							class="hover:text-primary-600 inline-flex items-center text-gray-700 dark:text-gray-300 dark:hover:text-white"
						>
							<Icon name={item.icon ?? 'ph:house-simple-light'} class="mr-1 h-5 w-5" />
							{item.label}
						</a>
					</li>
				</>
			))
		}
	</ol>
</nav>
