---
import { Icon } from 'astro-icon/components';
// biome-ignore lint/correctness/noUnusedVariables: Biome needs support for Astro.
interface Props {
	title: string;
	description: string;
	icon: string;
}
// biome-ignore lint/correctness/noUnusedVariables: Biome needs support for Astro.
const { title, description, icon } = Astro.props;
---

<div class="Card inline-flex h-52 w-72 flex-col items-start justify-start gap-4">
	<Icon
		name={icon}
		class="text-tertiary-50 bg-tertiary-900 border-tertiary-800 inline-flex h-12 w-12 items-center justify-center rounded border px-4 py-2"
	/>
	<div
		class="text-tertiary-700 dark:text-tertiary-100 w-[248px] text-2xl font-medium leading-[31.20px] tracking-tight"
	>
		{title}
	</div>
	<div
		class="text-tertiary-800 dark:text-tertiary-400 self-stretch text-base font-normal leading-normal tracking-tight"
	>
		{description}
	</div>
</div>
