---
import { Image } from 'astro:assets';
import WorldGraph from 'atoms:WorldGraph';


const { image, ...attrs } = Astro.props;

const clientUrl = import.meta.env.APP_CLIENT_URL;
---

<header
	class="mt-0 flex w-full flex-col flex-wrap items-start justify-start p-6 sm:mt-1 sm:p-8 md:mt-8 lg:mt-16"
>
	<div class="flex flex-col items-start justify-start gap-6">
		<h1
			class="max-w-fit bg-gradient-to-r from-gray-900 to-gray-700 bg-clip-text text-3xl font-bold tracking-tighter text-transparent sm:text-5xl md:max-w-4xl xl:text-6xl/none dark:from-white dark:to-gray-500"
		>
			Second Brain, notes, and knowledge management for power users.
		</h1>

		<div class="flex flex-col items-start gap-6 self-stretch font-sans sm:max-w-xl">
			<h3
				class="text-tertiary-900 dark:text-tertiary-50 text-base font-normal leading-tight tracking-tight sm:text-lg"
			>
				With Lyra, you'll be able to bring your ideas to life in record time.
			</h3>
			<iframe
				src={`${clientUrl}/forms/88e720ca-b04d-4e81-97ec-b7cbceda73db?slim=true`}
				title="Subscribe to newsletter"
				id="lyra-embed"
				data-test-id="lyra-embed"
				class="w-full h-12 rounded"
				frameborder="0"
				scrolling="no"
				style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
		</div>
	</div>
	<div class="relative mt-28 flex w-full items-center justify-center sm:mt-5">
		<div class="absolute z-30 flex shrink-0 items-center justify-center lg:hidden">
			<WorldGraph />
		</div>
		<div
			id="hero-mask-shape"
			class="to-tertiary-50 dark:to-tertiary-950 absolute bottom-0 left-0 h-full w-full bg-gradient-to-b from-transparent opacity-90"
		>
		</div>
		<Image src={image} alt="Lyra app interface" class="h-full w-full" {...attrs} />
	</div>
</header>
