---
import { Image } from 'astro:assets';
import type { Project } from './types';
// biome-ignore lint/correctness/noUnusedVariables: Biome needs support for Astro.
interface Props {
	project: Project;
}
// biome-ignore lint/correctness/noUnusedVariables: Biome needs support for Astro.
const { project } = Astro.props;
---

<div class="flex items-center text-gray-900 dark:text-gray-100">
	<Image src={project.icon} alt={project.name} width="32" height="32" class="mr-4" />
	<span class="text-lg font-semibold">{project.name}</span>
</div>
