/* Variables for light and dark mode */
:root {
  /* Light mode variables */
  --editor-color: #000000;
  --editor-gray-2: #e5e7eb; /* Tailwind CSS gray-200 */
  --editor-gray-3: #d1d5db; /* Tailwind CSS gray-300 */
  --editor-purple-light: #e9d5ff; /* Tailwind CSS purple-200 */
  --editor-black: #000000;
  --editor-white: #ffffff;

  /* Font size variables */
  --editor-font-size-p: 0.8rem;
  --editor-font-size-h1: 1.4rem;
  --editor-font-size-h2: 1.2rem;
  --editor-font-size-h3: 1.1rem;
  --editor-font-size-h4: 1rem;
  --editor-font-size-h5: 1rem;
  --editor-font-size-h6: 1rem;
  --editor-line-height: 1.6;
  --editor-placeholder-color: #9ca3af; /* Tailwind CSS gray-400 */
}

[data-theme="dark"] {
  /* Dark mode variables */
  --editor-color: #ffffff;
  --editor-gray-2: #374151; /* Tailwind CSS gray-700 */
  --editor-gray-3: #4b5563; /* Tailwind CSS gray-600 */
  --editor-purple-light: #7c3aed; /* Tailwind CSS purple-600 */
  --editor-black: #ffffff;
  --editor-white: #000000;
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  min-height: calc(100vh - 2rem);

  &:focus-visible {
    outline: none;
  }

  > * + * {
    margin-top: 0.75em;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: var(--editor-font-size-h1);
  }

  h2 {
    font-size: var(--editor-font-size-h2);
  }

  h3 {
    font-size: var(--editor-font-size-h3);
  }

  h4,
  h5,
  h6 {
    font-size: var(--editor-font-size-h4);
  }

  /* Paragraph styles */
  p {
    margin: 1rem 0;
    line-height: var(--editor-line-height);
    font-size: var(--editor-font-size-p);
    color: var(--editor-color);
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--editor-purple-light);
    border-radius: 0.4rem;
    color: var(--editor-black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--editor-black);
    border-radius: 0.5rem;
    color: var(--editor-white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  /* Color swatches */
  .color {
    white-space: nowrap;

    &::before {
      background-color: var(--editor-color);
      border: 1px solid rgba(128, 128, 128, 0.3);
      border-radius: 2px;
      content: " ";
      display: inline-block;
      height: 1em;
      margin-bottom: 0.15em;
      margin-right: 0.1em;
      vertical-align: middle;
      width: 1em;
    }
  }

  blockquote {
    border-left: 3px solid var(--editor-gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--editor-gray-2);
    margin: 2rem 0;
  }
}

/* Placeholder (at the top) */
.is-empty::before {
  color: var(--editor-placeholder-color);
  content: attr(data-placeholder);
  float: left;
  font-size: var(--editor-font-size-p);
  height: 0;
  pointer-events: none;
  font-style: italic; /* Optional: to make the placeholder text italic */
}
