/* Variables for light and dark mode */
:root {
  /* Light mode variables */
  --editor-color: #000000;
  --editor-gray-2: #e5e7eb; /* Tailwind CSS gray-200 */
  --editor-gray-3: #d1d5db; /* Tailwind CSS gray-300 */
  --editor-purple-light: #e9d5ff; /* Tailwind CSS purple-200 */
  --editor-black: #000000;
  --editor-white: #ffffff;

  /* Font size variables */
  --editor-font-size-p: 0.8rem;
  --editor-font-size-h1: 1.4rem;
  --editor-font-size-h2: 1.2rem;
  --editor-font-size-h3: 1.1rem;
  --editor-font-size-h4: 1rem;
  --editor-font-size-h5: 1rem;
  --editor-font-size-h6: 1rem;
  --editor-line-height: 1.6;
  --editor-placeholder-color: #9ca3af; /* Tailwind CSS gray-400 */
}

[data-theme="dark"] {
  /* Dark mode variables */
  --editor-color: #ffffff;
  --editor-gray-2: #374151; /* Tailwind CSS gray-700 */
  --editor-gray-3: #4b5563; /* Tailwind CSS gray-600 */
  --editor-purple-light: #7c3aed; /* Tailwind CSS purple-600 */
  --editor-black: #ffffff;
  --editor-white: #000000;
}

/* Basic editor styles */
.tiptap {

  /* Color swatches */
  .color {
    white-space: nowrap;

    &::before {
      background-color: var(--editor-color);
      border: 1px solid rgba(128, 128, 128, 0.3);
      border-radius: 2px;
      content: " ";
      display: inline-block;
      height: 1em;
      margin-bottom: 0.15em;
      margin-right: 0.1em;
      vertical-align: middle;
      width: 1em;
    }
  }

  /* Table-specific styling */
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 1px solid var(--editor-gray-3);
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: var(--editor-gray-2);
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: var(--editor-gray-2);
      content: "";
      left: 0; right: 0; top: 0; bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: var(--editor-purple-light);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
}

/* Placeholder (at the top) */
.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-style: italic; /* Optional: to make the placeholder text italic */
}
