---
import '@fontsource-variable/onest';
import pkg from '../../package.json' assert { type: 'json' };
interface Props {
	title: string;
	description?: string;
}

const { title, description = pkg.description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={pkg.author} />
		<meta name="description" content={description ?? pkg.description} />
		<meta name="copyright" content={pkg.license} />
		<title>{title}</title>

		<script is:inline>
			if (
				localStorage.getItem('color-theme') === 'dark' ||
				(!('color-theme' in localStorage) &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>
	<body
		class:list={[
			'bg-tertiary-100 dark:bg-tertiary-950',
			'scrollbar scrollbar-w-1 scrollbar-thumb-rounded-[0.25rem]',
			'scrollbar-track-slate-200  scrollbar-thumb-gray-400',
			'dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700',
		]}
	>
		<slot />
	</body>
</html>
<script>
  import 'flowbite';
  import 'flowbite/dist/datepicker.js';
</script>
<style is:global>
	:root {
		--header-background-light: rgba(255, 255, 255, 0.4);
		--header-background-dark: rgba(0, 0, 0, 0.4);
		--header-shadow-light: rgba(255, 255, 255, 0.6);
		--header-shadow-dark: rgba(255, 255, 255, 0.1);
	}
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--header-background: var(--header-background-dark);
			--header-shadow: var(--header-shadow-dark);
		}
	}

	@media (prefers-color-scheme: light) {
		:root {
			--header-background: var(--header-background-light);
			--header-shadow: var(--header-shadow-light);
		}
	}
	.dark {
		--header-background: var(--header-background-dark);
		--header-shadow: var(--header-shadow-dark);
	}

	#header-nav {
		animation: blur linear both;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}

	@keyframes blur {
		to {
			box-shadow:
				0px 5px 50px -5px var(--header-shadow),
				0px 0px 0 1px var(--header-shadow);
			background: var(--header-background);
			backdrop-filter: blur(10px);
		}
	}
</style>
