---
import Layout from './CommonLayout.astro';
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---
<Layout title={title} description={description}>
  <main class="container flex justify-center items-center h-full min-h-screen w-full max-w-screen-2xl mx-auto">
    <slot />
  </main>
</Layout>
