---
import EmailCTA from '../atoms/EmailCTA.astro';
---

<section class="m-1 flex flex-col items-center justify-center p-2">
	<div
		class="bg-tertiary-50 border-tertiary-100 dark:bg-tertiary-900 dark:border-tertiary-800 relative w-full rounded-lg border p-4 text-center shadow"
	>
		<h5 class="text-tertiary-900 dark:text-tertiary-100 mb-2 text-3xl font-bold">
			Subscribe to the newsletter
		</h5>
		<p class="text-tertiary-500 dark:text-tertiary-400 mb-5 text-base sm:text-lg">
			Get the latest posts delivered right to your inbox every week. I would love to include you in
			my journey.
		</p>
		<div class="flex items-center justify-center space-y-4 sm:space-x-4 sm:space-y-0">
			<EmailCTA />
		</div>
	</div>
</section>
