---

---

<div
	class="flex flex-col-reverse items-center justify-center gap-16 px-4 py-24 md:gap-28 md:px-44 md:py-20 lg:flex-row lg:px-24 lg:py-24"
>
	<div class="relative w-full pb-12 lg:pb-0 xl:w-1/2 xl:pt-24">
		<div class="relative flex items-center">
			<div class="z-1 absolute">
				<div class="">
					<h1 class="my-2 text-2xl font-bold text-gray-800">
						Looks like you've found the doorway to the great nothing
					</h1>
					<p class="my-2 text-gray-800">
						Sorry about that! Please visit our hompage to get where you need to go.
					</p>
					<button
						class="md bg-primary-600 hover:bg-primary-700 focus:ring-primary-700 my-2 rounded-lg border px-8 py-4 text-center text-white focus:outline-none focus:ring-2 focus:ring-opacity-50 sm:w-full lg:w-auto"
					>
						Take me there!
					</button>
				</div>
			</div>
			<div class="h-lg w-lg">
				<div
					class="i-tabler:error-404 bg-primary-500/20 flex h-full w-full items-center justify-center"
				>
				</div>
			</div>
		</div>
	</div>
	<div>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="539"
			height="400"
			style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
		>
			<path
				style="opacity:.998"
				fill="#edf1fe"
				d="M357.5-.5h9c20.937 3.725 38.437 13.726 52.5 30 24.227 28.5 37.394 61.5 39.5 99a100.93 100.93 0 0 1-3 28c-12.435-3.829-25.102-4.829-38-3-2.613-.935-5.279-1.102-8-.5a100.11 100.11 0 0 1-13 4.5c-1.997-2.66-3.497-5.66-4.5-9-3.338-2.818-7.171-3.651-11.5-2.5a156.52 156.52 0 0 1-16 5.5c-2.675-6.958-6.508-7.625-11.5-2a8.43 8.43 0 0 0-.5 4 2472.965 2472.965 0 0 0-37 13.5c-2.524 1.883-3.858 4.383-4 7.5a122.615 122.615 0 0 0-24.5 10c-.855 3.319.312 5.652 3.5 7a581.613 581.613 0 0 0 21.5-8c1.03-.336 1.53-1.003 1.5-2a418.968 418.968 0 0 1 10 25 98.198 98.198 0 0 0-24.5 9c-1.33 4.998.504 7.164 5.5 6.5l19-7c1.256-.417 1.923-1.25 2-2.5.821 4.646 3.654 6.98 8.5 7a1855.273 1855.273 0 0 0 38.5-13c5.492 4.544 9.158 3.377 11-3.5a14.692 14.692 0 0 0-1-4.5 585.159 585.159 0 0 0 18-6.5c3.827-3.308 4.994-7.474 3.5-12.5a10.134 10.134 0 0 1-1.5-4 408.247 408.247 0 0 0 15-5.5 25.14 25.14 0 0 0 4-4.5 103.08 103.08 0 0 1 23-.5c2.691.156 5.024.989 7 2.5a197.289 197.289 0 0 1-9.5 25 1829.94 1829.94 0 0 0-26 51 160.387 160.387 0 0 0-9 27c-2.981 17.719 1.685 33.052 14 46 6.083 13.784 5.083 27.118-3 40-18.29 24.736-42.79 39.069-73.5 43h-19c-15.714-2.189-30.047-8.022-43-17.5-15.219-17.232-32.219-32.232-51-45-19.161-10.906-38.494-11.24-58-1-12.817 8.243-26.483 14.576-41 19-8.469 1.401-16.469.068-24-4-37.105-24.463-54.939-58.963-53.5-103.5.19-2.208.69-4.208 1.5-6 2.593 17.09 12.594 26.59 30 28.5 15.024.941 29.357-1.559 43-7.5 1.786 1.222 3.786 1.889 6 2l14-5a59.803 59.803 0 0 1 4 6.5 12.01 12.01 0 0 0 5.5 2.5 225.466 225.466 0 0 0 19.5-7c2.749 3.671 6.416 4.837 11 3.5a1587.477 1587.477 0 0 0 30-11.5c1.907 2.832 4.573 3.666 8 2.5 2.016-1.028 3.016-2.695 3-5a940.286 940.286 0 0 0-21-56c-6.402-2.63-9.735-.463-10 6.5a261.57 261.57 0 0 0-32 11.5c-2.821 2.141-4.154 4.975-4 8.5a585.159 585.159 0 0 0-18 6.5c-4.135 3.685-4.801 7.852-2 12.5-.363.683-.696 1.35-1 2-6.133.872-11.299 3.539-15.5 8a4.934 4.934 0 0 0-.5 3c-16.396 6.65-33.063 7.483-50 2.5-8.432-5.615-11.598-13.448-9.5-23.5a285.838 285.838 0 0 1 9-21 107.437 107.437 0 0 0 3.5-14c10.946-14.791 14.113-31.125 9.5-49a456.153 456.153 0 0 0-14-25c-3.245-28.01 7.255-49.176 31.5-63.5 13.325-4.633 26.658-4.633 40 0 32.107 19.931 65.44 22.265 100 7 25.473-12.066 48.14-28.066 68-48 12.688-10.348 27.021-16.848 43-19.5z"
			></path>
			<path
				style="opacity:1"
				fill="#473bcb"
				d="M276.5 114.5c5.327-1.325 7.994.675 8 6a1179.204 1179.204 0 0 1-5.5 39c-2 1.333-4 1.333-6 0a588.631 588.631 0 0 1 1-42c.698-1.191 1.531-2.191 2.5-3z"
			></path>
			<path
				style="opacity:1"
				fill="#4d40cc"
				d="M248.5 134.5c2.738-.535 4.572.465 5.5 3a156.349 156.349 0 0 0 5.5 24c-1.662 3.964-3.495 3.964-5.5 0a480.418 480.418 0 0 0-7.5-23.5 11.803 11.803 0 0 1 2-3.5z"
			></path>
			<path
				style="opacity:1"
				fill="#483ccb"
				d="M205.5 137.5a8.43 8.43 0 0 1 4 .5 962.26 962.26 0 0 1 37.5 34.5c.667 2 .667 4 0 6-1.388 1.054-2.888 1.22-4.5.5a747.117 747.117 0 0 0-36-29c-4.989-3.781-5.322-7.948-1-12.5z"
			></path>
			<path
				style="opacity:1"
				fill="#a5b3fb"
				d="M396.5 157.5a95.105 95.105 0 0 0 6 18 10.134 10.134 0 0 0 1.5 4c1.494 5.026.327 9.192-3.5 12.5a585.159 585.159 0 0 1-18 6.5 1392.55 1392.55 0 0 0-18-47 156.52 156.52 0 0 0 16-5.5c4.329-1.151 8.162-.318 11.5 2.5 1.003 3.34 2.503 6.34 4.5 9z"
			></path>
			<path
				style="opacity:1"
				fill="#6568f1"
				d="M364.5 151.5a1392.55 1392.55 0 0 1 18 47 14.692 14.692 0 0 1 1 4.5c-1.842 6.877-5.508 8.044-11 3.5a629.314 629.314 0 0 0-20-53 8.43 8.43 0 0 1 .5-4c4.992-5.625 8.825-4.958 11.5 2z"
			></path>
			<path
				style="opacity:1"
				fill="#c6d1fd"
				d="M352.5 153.5a629.314 629.314 0 0 1 20 53 1855.273 1855.273 0 0 1-38.5 13c-4.846-.02-7.679-2.354-8.5-7l-2-6a418.968 418.968 0 0 0-10-25 29.417 29.417 0 0 0-2-7c.142-3.117 1.476-5.617 4-7.5a2472.965 2472.965 0 0 1 37-13.5z"
			></path>
			<path
				style="opacity:1"
				fill="#5249e5"
				d="M417.5 153.5c3.425 3.229 4.758 7.229 4 12a25.14 25.14 0 0 1-4 4.5 408.247 408.247 0 0 1-15 5.5 95.105 95.105 0 0 1-6-18 100.11 100.11 0 0 0 13-4.5c2.721-.602 5.387-.435 8 .5z"
			></path>
			<path
				style="opacity:.944"
				fill="#dfe6fe"
				d="M455.5 156.5c18.152 6.97 24.652 19.97 19.5 39a473.793 473.793 0 0 1-11 27c-1.897 10.706 1.937 18.539 11.5 23.5 10.893 2.961 21.893 3.294 33 1a181.801 181.801 0 0 0 25-8c1.765-.64 3.432-.473 5 .5v1c-7.684 10.882-18.35 17.049-32 18.5a121.58 121.58 0 0 1-29 1c-21.651-7.134-29.151-21.634-22.5-43.5a157.702 157.702 0 0 1 9-22c3.321-10.359.821-18.859-7.5-25.5-1.525-1.009-3.192-1.509-5-1.5-1.976-1.511-4.309-2.344-7-2.5a103.08 103.08 0 0 0-23 .5c.758-4.771-.575-8.771-4-12 12.898-1.829 25.565-.829 38 3z"
			></path>
			<path
				style="opacity:.968"
				fill="#e0e6fe"
				d="M79.5 197.5a107.437 107.437 0 0 1-3.5 14 285.838 285.838 0 0 0-9 21c-2.098 10.052 1.068 17.885 9.5 23.5 16.937 4.983 33.604 4.15 50-2.5a23.954 23.954 0 0 0 3 9c-13.643 5.941-27.976 8.441-43 7.5-17.406-1.91-27.407-11.41-30-28.5a45.551 45.551 0 0 1 1.5-14c3.34-8.677 6.673-17.343 10-26 1.597-15.745-5.57-24.245-21.5-25.5a147.189 147.189 0 0 0-38 3.5c-3.389-.018-6.389-1.018-9-3v-4c22.06-12.511 44.393-13.011 67-1.5 9.537 6.242 13.87 15.075 13 26.5z"
			></path>
			<path
				style="opacity:1"
				fill="#fefefe"
				d="M311.5 174.5a29.417 29.417 0 0 1 2 7c.03.997-.47 1.664-1.5 2a581.613 581.613 0 0 1-21.5 8c-3.188-1.348-4.355-3.681-3.5-7a122.615 122.615 0 0 1 24.5-10z"
			></path>
			<path
				style="opacity:1"
				fill="#6668f1"
				d="M219.5 253.5a888.262 888.262 0 0 0-20-52c.265-6.963 3.598-9.13 10-6.5a940.286 940.286 0 0 1 21 56c.016 2.305-.984 3.972-3 5-3.427 1.166-6.093.332-8-2.5z"
			></path>
			<path
				style="opacity:1"
				fill="#c6d1fd"
				d="M199.5 201.5a888.262 888.262 0 0 1 20 52 1587.477 1587.477 0 0 1-30 11.5c-4.584 1.337-8.251.171-11-3.5a521.383 521.383 0 0 0-15-40c-.154-3.525 1.179-6.359 4-8.5a261.57 261.57 0 0 1 32-11.5z"
			></path>
			<path
				style="opacity:1"
				fill="#fefefe"
				d="m323.5 206.5 2 6c-.077 1.25-.744 2.083-2 2.5l-19 7c-4.996.664-6.83-1.502-5.5-6.5a98.198 98.198 0 0 1 24.5-9z"
			></path>
			<path
				style="opacity:1"
				fill="#a5b4fb"
				d="M163.5 221.5a521.383 521.383 0 0 1 15 40 225.466 225.466 0 0 1-19.5 7 12.01 12.01 0 0 1-5.5-2.5 59.803 59.803 0 0 0-4-6.5 81.712 81.712 0 0 0-3.5-12c-.697-2.084-1.864-3.751-3.5-5 .304-.65.637-1.317 1-2-2.801-4.648-2.135-8.815 2-12.5a585.159 585.159 0 0 1 18-6.5z"
			></path>
			<path
				style="opacity:1"
				fill="#534ae5"
				d="M142.5 242.5c1.636 1.249 2.803 2.916 3.5 5a81.712 81.712 0 0 1 3.5 12l-14 5c-2.214-.111-4.214-.778-6-2a23.954 23.954 0 0 1-3-9 4.934 4.934 0 0 1 .5-3c4.201-4.461 9.367-7.128 15.5-8z"
			></path>
			<path
				style="opacity:1"
				fill="#493dcb"
				d="M296.5 245.5c2.082-.028 3.916.639 5.5 2a852.406 852.406 0 0 0 29 40c.034 5.799-2.799 8.132-8.5 7a522.574 522.574 0 0 1-28-45c.252-1.573.918-2.906 2-4z"
			></path>
			<path
				style="opacity:1"
				fill="#473ccb"
				d="M260.5 255.5c5.175-.993 7.009 1.007 5.5 6a1193.63 1193.63 0 0 1-12 37c-3.163 1.419-6.163 1.085-9-1-.667-1.667-.667-3.333 0-5a67350.783 67350.783 0 0 0 15.5-37z"
			></path>
			<path
				style="opacity:1"
				fill="#5144cd"
				d="M280.5 257.5c1.644-.214 3.144.12 4.5 1a173.662 173.662 0 0 1 1 28c-2 1.333-4 1.333-6 0a144.36 144.36 0 0 1 .5-29z"
			></path>
		</svg>
	</div>
</div>
