---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div class="i-fa-times-circle text-red-400"></div>
		<div>
			this is the icon using uncss
			<div class="i-ph-anchor-simple-thin text-orange-400"></div>
		</div>
	</body>
</html>
