---
import Layout from './CommonLayout.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
	<main
		class="container mx-auto flex h-full min-h-screen w-full max-w-screen-2xl items-center justify-center"
	>
		<slot />
	</main>
</Layout>
