---
import FooterStacked from 'molecules:FooterStacked';
import NavBarStacked from 'molecules:NavBarStacked';
import Layout from './CommonLayout.astro';
// biome-ignore lint/correctness/noUnusedVariables: This is a false positive as the `title` and `description` variables are used in the Layout component below.
interface Props {
	title: string;
	description?: string;
}

// biome-ignore lint/correctness/noUnusedVariables: This is a false positive as the `title` and `description` variables are used in the Layout component below.
const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
	<NavBarStacked />
	<div class="bg-tertiary-100 dark:bg-tertiary-950 flex overflow-hidden pt-16">
		<div
			id="main-content"
			class="bg-tertiary-100 dark:bg-tertiary-950 relative mx-auto h-full min-h-screen w-full max-w-screen-2xl overflow-y-auto"
		>
			<div class="px-4 pt-6 2xl:px-0">
				<slot />
			</div>

			<FooterStacked />
		</div>
	</div>
</Layout>
