---
import FooterStacked from 'molecules:FooterStacked';
import GlobeGraphCard from 'molecules:GlobeGraphCard';
import NavBarStacked from 'molecules:NavBarStacked';
import Layout from './CommonLayout.astro';

import pkg from '../../package.json' assert { type: 'json' };
interface Props {
	title: string;
	description?: string;
}

const { title = 'Lyra', description = pkg.description } = Astro.props;
---

<Layout title={title} description={description}>
	<NavBarStacked />
	<GlobeGraphCard />
	<div class="bg-tertiary-100 dark:bg-tertiary-950 flex overflow-hidden pt-16">
		<div
			id="main-content"
			class="bg-tertiary-100 dark:bg-tertiary-950 relative mx-auto h-full min-h-screen w-full max-w-screen-2xl overflow-y-auto"
		>
			<div class="px-4 pt-6 2xl:px-0">
				<slot />
			</div>

			<FooterStacked />
		</div>
	</div>
</Layout>
