---
import BannerSection from '../molecules/BannerSection.astro'
import Hero from '../molecules/Hero.astro'
import ItemsSection from '../molecules/ItemsSection.astro'
---

<div class="flex flex-col min-h-screen">
  <Hero />
  <ItemsSection />
  <BannerSection />
</div>
