---
import Layout from '../layouts/LayoutStacked.astro';
import LandingPage from '../components/organisms/LandingPage.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<LandingPage />
	</main>
</Layout>