---
import Layout from '../layouts/LayoutStacked.astro';
import appInterface from '../assets/images/app-interface.png';
import { Hero, ItemsSection, EmailCTASection } from '@lyra/ui';
---

<Layout title="Lyra App.">
	<main>
		<div class="flex min-h-screen flex-col">
			<Hero image={appInterface} />
			<ItemsSection />
      <EmailCTASection />
		</div>
	</main>
</Layout>
