---
import Layout from '../layouts/LayoutStacked.astro';
import appInterface from '../assets/images/app-interface.png';
import { BannerSection, Hero, ItemsSection } from '@lyra/ui';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex min-h-screen flex-col">
			<Hero image={appInterface} />
			<ItemsSection />
			<BannerSection />
		</div>
	</main>
</Layout>
